---
/**
 * Provide the paths for the supported locales (user interface languages).
 */
export { getLocalePaths as getStaticPaths } from "lightnet/i18n"

import { AstroError } from "astro/errors"
import { getEntry } from "astro:content"
import {
  Gallery,
  Hero,
  HighlightSection,
  Page,
  Section,
} from "lightnet/components"
import { getMediaItems } from "lightnet/content"

import eventImage from "../../assets/event.webp"
import heroImage from "../../assets/hero.webp"

/**
 * Fetch the latest books.
 * Order them by the date they were created.
 */
const latestBooks = await getMediaItems({
  where: { type: "book" },
  orderBy: "dateCreated",
})

/**
 * Fetch the learn skateboarding collection meta data.
 */
const learnSkateboarding = await getEntry(
  "media-collections",
  "learn-skateboarding",
)
/**
 * If the learn skateboarding collection does not exist, throw an error.
 */
if (!learnSkateboarding) {
  throw new AstroError("Media Collection 'learn-skateboarding' not found")
}
/**
 * Fetch the items of the learn skateboarding collection.
 */
const learnSkateboardingItems = await getMediaItems({
  where: { collection: "learn-skateboarding" },
})

/**
 * Reference the translation function to avoid
 * having to write Astro.locals.i18n.t every time.
 */
const t = Astro.locals.i18n.t
---

{
  /* 
  Render a lightnet page. This will automatically include the
  page structure, header, menu system...
   */
}
<Page>
  {
    /* 
    The hero section is the big image of two skateboarders at the top of the page.
    Also it shows the ministry name (Sk8 Ministries) and slogan (Living faith, building 
    community).

    The both text are translated to the current locale using the i18n.t function.
     */
  }
  <Hero
    image={heroImage}
    title={t("custom.site.title")}
    subtitle={t("custom.ministry.slogan")}
    titleSize="xl"
    subtitleSize="xl"
  />
  {
    /* 
    This section shows the latest books that have been added to the library.
     */
  }
  <Section title={t("custom.home.our-latest-books")}>
    <Gallery items={latestBooks} layout="book" />
  </Section>

  {
    /* 
    This section shows the BBQ event. It includes an image, a title, some description text and a link
    to sign up for the event.
     */
  }
  <HighlightSection
    image={eventImage}
    title={t("custom.home.bbq.title")}
    text={t("custom.home.bbq.text")}
    link={{
      href: "mailto:some-email-address-from-the-ministry",
      text: t("custom.home.bbq.sign-up-now"),
    }}
  />

  {
    /* 
    This section shows the learn skateboarding collection. It uses the collection name as the title.
     */
  }
  <Section title={learnSkateboarding.data.label}>
    <Gallery items={learnSkateboardingItems} layout="video" />
  </Section>
</Page>
