---
export { getLocalePaths as getStaticPaths } from "@lightnet/library/i18n"

import {
  Gallery,
  Hero,
  ImageSection,
  Page,
  Section,
} from "@lightnet/library/components"
import { lightnet } from "@lightnet/library/content"
import { useTranslate } from "@lightnet/library/i18n"
import { getEntry } from "astro:content"

import eventImage from "../../assets/event.webp"
import heroImage from "../../assets/hero.webp"

const latestBooks = await lightnet.getMediaItems({
  where: { type: "book" },
  orderBy: "dateCreated",
})
const learnSkateboarding = await getEntry("compilations", "learn-skateboarding")
const learnSkateboardingItems = await lightnet.getMediaItems({
  where: { compilation: "learn-skateboarding" },
})

const t = useTranslate(Astro.currentLocale)
---

<Page>
  <Hero
    image={heroImage}
    title={t("ministry.name")}
    subtitle={t("ministry.slogan")}
    titleSize="xl"
    subtitleSize="xl"
  />
  <Section title={t("home.our-latest-books")}>
    <Gallery items={latestBooks} layout="book" />
  </Section>
  <ImageSection
    image={eventImage}
    title={t("home.bbq.title")}
    text={t("home.bbq.text")}
    link={{
      href: "mailto:some-email-address-from-the-ministry",
      label: t("home.bbq.sign-up-now"),
    }}
  />
  <Section title={learnSkateboarding.data.title}>
    <Gallery items={learnSkateboardingItems} layout="video" />
  </Section>
</Page>
