---
/**
 * Provide the paths for the supported locales (user interface languages).
 */
export { getLocalePaths as getStaticPaths } from "@lightnet/library/i18n"

import {
  Gallery,
  Hero,
  ImageSection,
  Page,
  Section,
} from "@lightnet/library/components"
import { getMediaItems } from "@lightnet/library/content"
import { getEntry } from "astro:content"

import eventImage from "../../assets/event.webp"
import heroImage from "../../assets/hero.webp"

/**
 * Fetch the latest books.
 * Order them by the date they were created.
 */
const latestBooks = await getMediaItems({
  where: { type: "book" },
  orderBy: "dateCreated",
})

/**
 * Fetch the learn skateboarding collection meta data.
 */
const learnSkateboarding = await getEntry(
  "media-collections",
  "learn-skateboarding",
)
/**
 * Fetch the items of the learn skateboarding collection.
 */
const learnSkateboardingItems = await getMediaItems({
  where: { collection: "learn-skateboarding" },
})
---

{
  /* 
  Render a lightnet page. This will automatically include the
  page structure, header, menu system...
   */
}
<Page>
  {
    /* 
    The hero section is the big image of two skateboarders at the top of the page.
    Also it shows the ministry name (Sk8 Ministries) and slogan (Living faith, building 
    community).

    The ministry slogan is translated using the locals.t function.
     */
  }
  <Hero
    image={heroImage}
    title={"Sk8 Ministries"}
    subtitle={Astro.locals.i18n.t("ministry.slogan")}
    titleSize="xl"
    subtitleSize="xl"
  />
  {
    /* 
    This section shows the latest books that have been added to the library.
     */
  }
  <Section title={Astro.locals.i18n.t("home.our-latest-books")}>
    <Gallery items={latestBooks} layout="book" />
  </Section>

  {
    /* 
    This section shows the BBQ event. It includes an image, a title, some description text and a link
    to sign up for the event.
     */
  }
  <ImageSection
    image={eventImage}
    title={Astro.locals.i18n.t("home.bbq.title")}
    text={Astro.locals.i18n.t("home.bbq.text")}
    link={{
      href: "mailto:some-email-address-from-the-ministry",
      label: Astro.locals.i18n.t("home.bbq.sign-up-now"),
    }}
  />

  {
    /* 
    This section shows the learn skateboarding collection. It uses the collection name as the title.
     */
  }
  <Section title={learnSkateboarding?.data.name}>
    <Gallery items={learnSkateboardingItems} layout="video" />
  </Section>
</Page>
